@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

html{
  scroll-behavior: smooth;
}

.content{
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0,1,0,1);
}

.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.6s cubic-bezier(1,0,1,0);
}

.article-show{
  height: 23rem;
  overflow: auto;
  width: 79vw;
  margin-left: 1vw;
  transition: all 0.5s cubic-bezier(0,1,0,1);
}

.article{
  max-height: 0rem;
  transition: all 0.1s cubic-bezier(1,0,1,0);
}

.a-button{
  color: transparent;
  text-decoration: none;
}

/*Accordion*/
.section{
  display: flex;
  flex-direction: column;
}

/*Botoes(barras) para abrir e fechar o Accordion*/
.accordion {
  background-color: #00204a;
  color: white;
  cursor: pointer;
  padding: 1.425rem;
  margin: 0.4rem 0rem 0.4rem 20vw;
  width: 60vw;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 2.5rem;
  z-index: 1;
}

/*cor de fundo para o botão se for clicado*/
.accordion:hover, .active{
  background-color: #0a3153;
}

/*título*/
.title{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

/*icone*/
.icon{
  color: white;
  margin-left: auto;
  transition: transform 0.6s ease;
}

/*rotação do icone quando ativo*/
.rotate{
  transform: rotate(180deg);
}

/*texto do accordion*/
.text{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 1.125rem;
}

@media screen and (max-width:1100px){
  .article-show{
    margin-left: -2rem;
  }
}


@media screen and (max-width:900px){
  .article-show{
    margin-left: -4rem;
  }
}
