@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,600&display=swap");

.content{
  color: #8b7f75;
  max-height: 0;
  overflow: hidden;
  transition: all 0.6s cubic-bezier(0,1,0,1);
}

.content.show{
  height: auto;
  max-height: 9999px;
  transition: all 0.6s cubic-bezier(1,0,1,0);
}

/*Accordion*/
.section{
  display: flex;
  flex-direction: column;
  width: 50rem;
}

/*Botoes(barras) para abrir e fechar o Accordion*/
.accordion {
  background-color: #00204a;
  color: white;
  cursor: pointer;
  padding: 1.125rem;
  margin: 0.5rem 0rem;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 3px;
  outline: none;
  height: 2.5rem;

/*   margin-inline-start: 200px;
  margin-inline-end: 200px; */
}

/*cor de fundo para o botão se for clicado*/
.accordion:hover, .active{
  background-color: #0a3153;
}

/*título*/
.title{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
}

/*icone*/
.icon{
  color: white;
  margin-left: auto;
  transition: transform 0.6s ease;
}

/*rotação do icone quando ativo*/
.rotate{
  transform: rotate(180deg);
}

/*texto do accordion*/
.text{
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 1rem;
  padding: 1.125rem;
}