.box{
  display: flex;
  flex-direction: column;
  justify-content:flex-start;
  text-align: center;
  border: 1px solid black;
  width: 25rem;
  height: 20rem;
  background-color: #F4F4F4;
  overflow: auto;
  margin-bottom: 1rem;
}

.flexbox{
  display: flex;
  justify-content: center;
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.li-lista{
  padding-top: 1rem;
}

.box::-webkit-scrollbar-track{
 background-color: #ffffff;
}
.box::-webkit-scrollbar{
 width: 6px;
 background: #ffffff;
}
.box::-webkit-scrollbar-thumb{
 background: #a7c5fc;
}
