.container{
  display: flex;
  flex-direction: column;
  margin-left: 16rem;
}

.list{
 margin: 0.8rem 1.5rem;
 text-transform: capitalize;
}

::-webkit-scrollbar-track{
 background-color: #F4F4F4;
}
::-webkit-scrollbar{
 width: 6px;
 background: #F4F4F4;
}
::-webkit-scrollbar-thumb{
 background: #dad7d7;
}

.a-list{
 color: blue;
 text-decoration: none;
}

.a-list:hover{
 color: rgb(51, 6, 104);
}

.a-list:visited{
 text-decoration: none;
}